[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
streamlit = "*"
pandas = "*"
langchain-experimental = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "streamlit run main.py"
